html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  height: 100%;
}

#nprogress {
  pointer-events: none;

  .bar {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    opacity: 0.75;
    background-color: #1677ff;
  }
}